/*
Small	            sm	≥576px
Medium	            md	≥768px
Large	            lg	≥992px
Extra large	        xl	≥1200px
Extra extra large	xxl	≥1400px
*/

/* sm */
@media (min-width: 0px){
    .logo-image-holder {
        height: 70px;
    }

    .logo-text-holder p {
        font-size: 1.2rem;
    }

    .report-card-banner {
        width: 75%;
    }

    .footer {
        height: 150px;
    }
}

/* sm - md */
@media (min-width: 370px){
    .report-card-banner {
        width: 60%;
    }
}

/* md */
@media (min-width: 500px){
    .report-card-banner {
        width: 60%;
    }

    .footer {
        height: 200px;
    }
}

/* lg */
@media (min-width: 768px){
    .report-card-banner {
        width: 60%;
    }

    .footer {
        height: 300px;
    }
}

/* xl */
@media (min-width: 992px){
    .logo-image-holder {
        height: 90px;
    }

    .logo-text-holder p {
        font-size: 1.5rem;
    }

    .report-card-banner {
        width: 45%;
    }
}

.container .row:nth-child(1) {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    flex-grow: unset;
}

.container .row:nth-child(2) {
    flex-grow: 3;
}

.container .row:nth-child(3) {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    flex-grow: unset;
}

.logo-holder {
    height: auto;
}

.logo-text-holder {
    border-left: 2px solid black;
    height: 6rem;
}

.logo-text-holder p {
    margin-bottom: 5px;
}

.report-card {
    height: 200px;
    padding: 30px;
    transition: transform 0.1s ease-in-out;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.report-card p:nth-child(1) {
    font-size: 3rem;
    font-weight: 600;
}

.report-card p:nth-child(2) {
    font-size: 1rem;
}

.report-card:hover {
    transform: scale(1.015);
}

.report-card-banner {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    -webkit-user-drag: none;
    z-index: 10;
}

.footer-image {
    width: 100%;
}


