/*
Small	            sm	≥576px
Medium	            md	≥768px
Large	            lg	≥992px
Extra large	        xl	≥1200px
Extra extra large	xxl	≥1400px
*/

/* sm */
@media (min-width: 0px){
    .breadcrumb {
        display: flex;
        justify-content: center;
    }

    .menu-button {
        position: fixed;
        z-index: 30;
        color: white;
        background: red;
        outline: none;
        border: none;
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .menu-button-inline {
        position: initial;
    }

    .main-paragraph::before {
        content: '#';
        font-weight: 700;
        padding-right: 5px;
        font-size: 1.2rem;
        color: red;
        position: absolute;
        left: -0.4rem;
        top: 0.35rem;
        z-index: 50;
    }

    .menu-container {
        position: fixed;
        height: 100%;
        top: 0;
        left: -100%;
        /*height: fit-content;*/
        box-sizing: border-box;
        padding: 30px 20px 30px;
        overflow-y: scroll;
        z-index: 60;
        background: white;
    }

    .presentation-container {
        padding: 45px 5px 0 10px;
    }

    .presentation-and-menu-container {
        flex-direction: column;
        overflow: scroll;
    }

    .active {
        color: #0d6efd !important;
        background: none !important;
    }
}

/* md */
@media (min-width: 576px){
}

/* lg */
@media (min-width: 768px){
    .menu-button {
        display: none;
    }

    .presentation-and-menu-container {
        flex-direction: row-reverse;
        overflow: hidden;
    }

    .presentation-container {
        padding: 30px;
    }

    .menu-container {
        position: initial;
        height: 100%;
        padding: 30px 30px 30px 60px;
    }

    .main-paragraph::before {
        left: -1.1rem;
    }

    .active {
        border-radius: 0 !important;
        padding-left: 30px !important;
        background: red !important;
        color: white !important;
    }
}

/* xl */
@media (min-width: 992px){

}
.presentation-and-menu-container {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

.presentation-container {
    height: 100%;
    overflow-y: scroll;
    /*box-sizing: border-box;*/
    /*padding: 30px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.activated-item {
    height: 50px;
    background: red;
    border-radius: 0;
}

.nav-link {
    margin-bottom: 10px !important;
    transition: transform 0.1s ease-in-out;
    position: relative;
}

.nav-link:hover {
    border-radius: 0 !important;
    transform: translate(1.5%);
    /*transform: scale(0.98);*/
    background: rgba(255, 0, 0, 0.91) !important;
    color: white!important;
}

.active {
    transition: all 0.2s ease-in-out;
}

/*slides layout*/
.slide-container {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.slide-img-background {
    width: 100%;
    height: 100%;
    background-color: rgba(54, 54, 54, 0.63);
    /*background-color: rgb(255, 255, 255);*/
}

.slide-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide-content-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}


