/*
Small	            sm	≥576px
Medium	            md	≥768px
Large	            lg	≥992px
Extra large	        xl	≥1200px
Extra extra large	xxl	≥1400px
*/

/* sm */
@media (min-width: 0px){
    .to-top-button {
        outline: none;
        color: white;
        width: 100%;
        height: 30px;
        background: red;
        text-decoration: none;
        position: fixed;
        top: 0;
        right: 0;
        padding: 3px;
        transition: opacity 0.2s ease-in-out;
        z-index: 50;
        opacity: 0;
        border-radius: 0;
    }

    .to-top-button img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 20px;
    }

    .chapters-container {
        padding: 50px 30px 30px;
        position: relative;
    }

    .content-container {
        padding: 0 30px 30px;
    }

    .section-header-link:before {
        left: -1.5rem;
    }

    .breadcrumb {
        display: flex;
        justify-content: center;
    }
}

/* md */
@media (min-width: 577px) {

}

/* lg */
@media (min-width: 768px) {
    .to-top-button {
        width: 55px;
        height: 55px;
        top: 30px;
        right: 30px;
        border-radius: 50%;
    }

    .to-top-button img {
        top: 47%;
        left: 50%;
        width: 60%;
        height: auto;
    }

    .chapters-container {
        padding: 50px 40px 30px;
    }

    .content-container {
        padding: 0 40px 30px;
    }

    .section-header-link:before {
        left: -1.6rem;
    }
}

/* xl */
@media (min-width: 992px){
    .chapters-container {
        padding: 50px 45px 30px;
    }

    .content-container {
        padding: 0 45px 30px;
    }

    .section-header-link:before {
        left: -1.7rem;
    }
}

/* xxl */
@media (min-width: 1400px){
    .chapters-container {
        padding: 50px 60px 30px;
    }

    .content-container {
        padding: 0 60px 30px;
    }

    .section-header-link:before {
        left: -1.8rem;
    }
}

.report-detail-container {

}

.to-top-button:focus {
    color: white;
}

.to-top-button:hover {
    color: white;
}

.container-fluid {
    height: fit-content;
}

.chapters-container {
    background: #ffffff;
    box-sizing: border-box;
}

.chapter-map-element {
    padding: 13px 0;
    width: fit-content;
    transition: transform 0.2s ease-in-out;
}

.chapter-map-element::before {
    content: '#';
    font-weight: 400;
    padding-right: 5px;
    font-size: 1.2rem;
    color: red;
}

.chapter-map-element a {
    width: 100%;
    text-decoration: none;
    color: black;

}

.chapter-map-element:hover {
    transform: translate(1.5%);
    cursor: pointer;
}

.chapter-map-element:hover a{
    color: red;
}

.content-container {
    background: white;
    margin-bottom: 50px;
}

.section-container {
    position: relative;
}

.section-header {
    padding-top: 40px;
    line-height: 1.8rem;
    position: relative;
}

.section-header-link {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.3rem;
}

.section-header-link:hover {
    color: black;
}

.section-header-link:before {
    content: '#';
    font-weight: 400;
    font-size: 1.8rem;
    color: red;
    margin-right: 20px;
    position: absolute;
}

.section-image {
    width: 100%;
}

.question-mark-container {
    margin-top: -0.1rem;
}

.question-mark-button {
    font-weight: 700;
    background: rgba(255, 255, 255, 0);
    outline: none;
    color: rgba(255, 0, 0, 0.51);
    border: none;
    font-size: 1.3rem;
}

.question-mark-button:focus {
    outline: none;
    color: red;
}

.question-mark-button:hover {
    outline: none;
    color: red;
}

.question-mark-context-menu {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0;
    width: fit-content;
    padding: 1.4rem 1.4rem 0.7rem;
}


.question-mark-context-menu-list-item {
    width: 11rem;
    margin-bottom: 0.7rem;
}

.question-mark-context-menu-links {
    text-decoration: none;
    color: black;
}

.question-mark-context-menu-links:hover {
    text-decoration: none;
    color: red;
}

.chart * {
    font-size: 0.8rem;
    background: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: center;
}



